# Dataset artifacts
/data/
/outputs/
/checkpoint/
checkpoints/
logs/
*.ckpt
*.h5
*.pt
*.pth
*.pkl
*.png
*.pdf
*.csv
*.index
*.data-*

# Python cache
__pycache__/
*.py[cod]

# Environment
.venv/
venv/

TODO.md
